<nav>

<section class="columns">
<p>About</p>

<ul>
<li>  <a href="index.html">Home</a></li>
<li>  <a href="testimonials.html">Testimonials</a></li>
<li>  <a href="https://storify.com/cczona/callbackwomen-appreciations">Influence</a></li>
<li>  <a href="trainings.html">Speaker Trainings</a></li>
<li>  <a href="http://twitter.com/callbackwomen">Follow on Twitter</a></li>
</ul>

<p>Speakers</p>

<ul>
<li>  <a href="https://storify.com/cczona/tech-women-give-keynote-addresses-at-tech-conferen">Tech Women Keynoting</a></li>
<li>  <a href="https://storify.com/cczona/speaker-travel-funding-pay-talk-development-suppor">Speaker Funding &amp; Support</a></li>
<li><a href="https://storify.com/cczona/inclusive-food-drinks-and-celebrating-at-tech-conf">Tech Girls Speaking</a></li>
<li><a href="resources-for-speakers.html">Resources for Speakers</a> </li>
</ul>

</section>

<section class="columns">

<p>Advocacy</p>

<ul>
<li>  <a href="https://storify.com/cczona/diversity-scholarships-mentoring-at-tech-conferenc">Attendee Diversity</a></li>
<li>  <a href="https://storify.com/cczona/tech-confs-featuring-family-inclusive-features">Parents, Families, &amp; Youths</a></li>
<li>  <a href="https://storify.com/cczona/tech-conferences-with-inclusive-restrooms">All-Genders Restrooms</a></li>
<li>  <a href="https://storify.com/cczona/speaker-travel-funding-pay-talk-development-suppor">Spoken Languages</a></li>
<li>  <a href="https://storify.com/cczona/inclusive-food-drinks-and-celebrating-at-tech-conf">Food &amp; Activities</a></li>
<li>  <a href="https://storify.com/cczona/importance-of-swag-shirts-for-bodies-of-varied-sha">Shirts</a></li>
<li><a href="https://storify.com/cczona/a-line-at-the-restroom">Restroom Line Ratio</a></li>


<!--<li><a href="resources-for-conferences.html">Networks</a></li>
-->
<!--<li><a href="elibility.html">Eligibility</a></li>
--></ul>

</section>

</section>

</nav>
