<table id="nav">
    <tr>
        <td>

            <p>About</p>

            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="personal-stories.html">Personal Stories</a></li>
                <li> <a href="https://storify.com/cczona/callbackwomen-appreciations">Influence</a> <img src="images/icons/storify-icon.jpg" style="height: 10px"></li>
                <li> <a href="http://meetup.com/CallbackWomen/">Meetup Group</a></li>
                <li> <a href="trainings.html">Speaker Trainings</a></li>
            </ul>

        </td>

        <td>

            <p>Speakers</p>

            <ul>
                <li> <a href="https://storify.com/cczona/speaker-travel-funding-pay-talk-development-suppor">Speaker Funding &amp; Support</a>
                    <img src="images/icons/storify-icon.jpg" style="height: 10px"></li>
                <li> <a href="https://storify.com/cczona/tech-women-give-keynote-addresses-at-tech-conferen">Tech Women Keynoting</a>
                    <img src="images/icons/storify-icon.jpg" style="height: 10px"></li>
                <li> <a href="https://storify.com/cczona/inclusive-food-drinks-and-celebrating-at-tech-conf">Tech Girls Speaking</a>
                    <img src="images/icons/storify-icon.jpg" style="height: 10px"></li>
                <li> <a href="resources-for-speakers.html">Resources for Speakers</a> </li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>

            <p>Advocacy</p>

            <ul>
                <li><a href="https://storify.com/cczona/diversity-scholarships-mentoring-at-tech-conferenc" target="_blank">Attendee Diversity</a>
                    <img src="images/icons/storify-icon.jpg" style="height: 10px"></li>
                <li> <a href="https://storify.com/cczona/tech-confs-featuring-family-inclusive-features" target="_blank">Parents, Families, &amp; Youths</a>
                    <img src="images/icons/storify-icon.jpg" style="height: 10px"></li>
                <li> <a href="https://storify.com/cczona/tech-conferences-with-inclusive-restrooms" target="_blank">All-Genders Restrooms</a>
                    <img src="images/icons/storify-icon.jpg" style="height: 10px"></li>
                <li> <a href="https://storify.com/cczona/speaker-travel-funding-pay-talk-development-suppor" target="_blank">Spoken Languages</a>
                    <img src="images/icons/storify-icon.jpg" style="height: 10px"></li>
                <li> <a href="https://storify.com/cczona/inclusive-food-drinks-and-celebrating-at-tech-conf" target="_blank">Food &amp; Activities</a>
                    <img src="images/icons/storify-icon.jpg" style="height: 10px"></li>
                <li> <a href="https://storify.com/cczona/importance-of-swag-shirts-for-bodies-of-varied-sha" target="_blank">Shirts</a>
                    <img src="images/icons/storify-icon.jpg" style="height: 10px" target="_blank"></li>
                <li><a href="https://storify.com/cczona/a-line-at-the-restroom" target="_blank">Restroom Line Ratio</a>
                    <img src="images/icons/storify-icon.jpg" style="height: 10px"></li>
            </ul>
        </td>

        <td>

            <p>More</p>

            <ul>
                <li> <a href="http://twitter.com/callbackwomen"><strong>Follow @callbackwomen</strong></a>
<img src="images/icons/twitter-24.png"></li>
                <li> <a href="eligibility.html">Project Eligibility</a></li>
                <li> <a href="https://www.stickermule.com/marketplace/9277-callbackwomen-2">Swag</a></li>
                <li> <a href="donate.html">Make a Donation</a></li>
            </ul>

        </td>
    </tr>
</table>
