<section id="nav">

<table>
  <tr>
    <td>

      <p>About</p>

      <ul>
      <li>  <a href="index.html">Home</a></li>
      <li>  <a href="testimonials.html">Testimonials</a></li>
      <li>  <a href="https://storify.com/cczona/callbackwomen-appreciations">Influence</a></li>
      <li>  <a href="trainings.html">Speaker Trainings</a></li>
      </ul>

    </td>  

    <td>

      <p>Speakers</p>

      <ul>
      <li>  <a href="https://storify.com/cczona/tech-women-give-keynote-addresses-at-tech-conferen">Tech Women Keynoting</a></li>
      <li>  <a href="https://storify.com/cczona/speaker-travel-funding-pay-talk-development-suppor">Speaker Funding &amp; Support</a></li>
      <li><a href="https://storify.com/cczona/inclusive-food-drinks-and-celebrating-at-tech-conf">Tech Girls Speaking</a></li>
      <li><a href="resources-for-speakers.html">Resources for Speakers</a> </li>
      </ul>
    </td>
  </tr>

  <tr>
    <td>

       <p>Advocacy</p>

      <ul>
      <li>  <a href="https://storify.com/cczona/diversity-scholarships-mentoring-at-tech-conferenc">Attendee Diversity</a></li>
      <li>  <a href="https://storify.com/cczona/tech-confs-featuring-family-inclusive-features">Parents, Families, &amp; Youths</a></li>
      <li>  <a href="https://storify.com/cczona/tech-conferences-with-inclusive-restrooms">All-Genders Restrooms</a></li>
      <li>  <a href="https://storify.com/cczona/speaker-travel-funding-pay-talk-development-suppor">Spoken Languages</a></li>
      <li>  <a href="https://storify.com/cczona/inclusive-food-drinks-and-celebrating-at-tech-conf">Food &amp; Activities</a></li>
      <li>  <a href="https://storify.com/cczona/importance-of-swag-shirts-for-bodies-of-varied-sha">Shirts</a></li>
      <li><a href="https://storify.com/cczona/a-line-at-the-restroom">Restroom Line Ratio</a></li>

    </td>  

    <td>

      <p>More</p>

      <ul>
      <li><a href="http://twitter.com/callbackwomen"> <strong>Follow @callbackwomen</strong></a>
            <img src="images/icons/twitter-24.png"></li>
      <li><a href="eligibility.html">Project Eligibility</a></li>
      <li><a href="https://www.stickermule.com/marketplace/9277-callbackwomen-2">Swag</a>
      <li><a href="https://app.moonclerk.com/pay/2v9p7q9ekoh">Make a Donation</a>
      </ul>

    </td>  
  </tr>

</table>

</section>



