<section id="tweet-any-of-these-to-cb">
  <p>Tweet <a href="https://twitter.com/callbackwomen">@callbackwomen</a> with CFPs of professional software engineers' conferences. We also love to hear about:</p>
  <ul>
    <li>code of conduct policy</li>
    <li>proposal-writing mentorship</li>
    <li>assistance for first-time speakers</li>
    <li>travel funding for speakers</li>
    <li>diversity scholarships</li>
    <li>handicapped accessibility</li>
    <li>childcare and/or nursing facilities</li>
  </ul>
</section>
