body
{
    font-size: .95em;
}

#inner
{
    width: 80%;
}

#branding
{
    text-align: center;
    border: 1px solid grey;
    background-color: white;
    margin: 2em 0 2em 0;
    padding: 2.5em;
}

#page-primary-content
{
    float: left;
    width: 65%;
}

/* GOOD TO HERE */

#sidebar
{
    float: right;
    width: 30% !important;
    padding-top: 1em;
    padding-right: 1em;
}

#twitter-feed
{
/*  DO NOT TRY TO STYLE THIS ELEMENT OR ITS CHILDREN. JUST DON'T  */
}

#page-primary-content h1
{
    font-size: 2.5em;
}

nav
{
    clear: both !important;
    font-size: 100%;
}

#nav table
{
  border-collapse: collapse;
}

#nav table, #nav tr, #nav td
{
  border: none;
}

#nav ul
{
  font-size: 90%;
}

#nav td 
{
  width: 50%;
  text-align: left;
  vertical-align: top;
}


#nav ol, #nav p
{
  margin-bottom: 0;
  margin-top: 0;
}

#nav li
{
  list-style: none;
  padding-left: 0;
}

.footnotes
{
  font-size: 85%;
}

.footnotes ol
{
  margin-left: 25px;
  color: gray;
}

.footnotes ol li
{
  list-style: decimal;
}

h2, h3, h4, h5, h6
{
    margin-bottom: 0;
}

/*superscripts*/

sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}