<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
<!--    <link rel="stylesheet" type="text/css" href="stylesheets/twitter-widget.css" media="screen" />-->
    <link rel="stylesheet" type="text/css" href="stylesheets/callbackwomen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>@CallbackWomen</title>
</head>

<body>
    <div id="container">
        <div class="inner">
            <section id="main_content">
                <header id="branding">
                    <a href="home.html">
                        <img id="logo" alt="CallbackWomen" title="CallbackWomen" src="images/callbackwomen-logo-wide-large.png">
                        </a>
                </header>

                <article id="page-primary-content">
                    <h1>
                    {{ page.title }}
                    </h1>
                    
                    {{ content }}
                </article>

                <aside id="sidebar">
                    <section id="donate">
                        <p align="center">
                            <a href="donate.html"><img alt="Donate" src="https://s3.amazonaws.com/moonclerk/buttons/donate.png" /></a>
                        </p>
                    </section>

                    <section id="twitter-feed">
<!--
                        <a href="http://twitter.com/callbackwomen"><strong>Follow @callbackwomen</strong></a>
                            <img src="images/icons/twitter-24.png"
-->
                        {% include twitter-feed.html %}
                    </section>

                </aside>
                    <nav>
                        <hr/> {% include navigation.html %}
                    </nav>
            </section>
        </div>
    </div>
</body>
</html>
