<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/callbackwomen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>@CallbackWomen</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">
<section id="main_content">
        
          <article>
            <header>

				<section id="branding">
				
				    <h1><a href="home.html">CallbackWomen</a></h1>
				
            	    <a href="home.html"><img class="logo" style="border: 1px solid grey; width: 40%; background-color: white;" src="images/callbackwomen-logo.png" alt="image of CallbackWomen logo" title="CallbackWomen" /></a>
            	            	
            	</section> 
            	
            </header>
                       
            <section>
                   <h1>{{ page.title }}</h1>

              {{ content }}
            </section>
            
<hr/>

            <section>
               <p align="center"><em>Do you like what CallbackWomen is doing?</em></p>

          	   <p align="center"><a href="donate/html"><img alt="Donate" src="https://s3.amazonaws.com/moonclerk/buttons/donate.png" /></a></p>
            </section>

          </article>

<hr/>
				<section>
	        	 {% include navigation.html %}
	         </section>
	        
	         <section>
	         </section>


</section>
          
      </div>
    </div>
  </body>
</html>